<div class="container-toggle" [class.hidden]="hideToggleSidebar">
  <a
    id="btn-menu"
    class="layout-btn-topbar"
    (click)="toggleSidebar()"
    #buttonToggle
  >
    <fa-icon
      [icon]="faTruck"
      style="color: var(--primary-contrast-color)"
    ></fa-icon>
  </a>
</div>

<ul class="sidebar-menu" [class]="classList()">
  @for (item of model; track $index) { @if (item.items) {
  <li sidebar-section class="sidebar-section" [item]="item"></li>
  } @else if(item.routerLink) {
  <li class="sidebar-link" menu-link [item]="item"></li>
  } }
</ul>
