<div [class]="typeHeader" (click)="itemClick($event)">
  <div class="section-title">
    @if (item.icon) {
      <i [class]="'menuitem-icon ' + item.icon"></i>
    }
    <span>{{ item.label }}</span>
  </div>
  @if(angle_down){
    <i class="submenu-toggler pi pi-fw pi-angle-down "></i>
  }
</div>

<ul
  [@children]="submenuAnimation"
  [class]="typeSubmenu"
  [style]="{'border': submenuAnimation === 'collapsed'? 'none':''}"
>
@for (item of item.items; track $index) {
  @if (item.items) {
    <li
      app-section
      [item]="item"
      class="section-container"
    ></li>
  } @else if(item.routerLink) {
    <li
      class="link-container"
      app-link
      [item]="item"
    ></li>
    }
  }
</ul>