<div
      class="menuitem-link "
      [class]="{ 'width-down': item.items && item.items.length > 0 }"
      (click)="itemClick($event)"
    >
    <i *ngIf="item.icon" [class]="'menuitem-icon ' + item.icon"></i>
    <span>{{ item.label }}</span>
    <i
    *ngIf="item.items && item.items.length > 0"
    class="pi pi-fw pi-angle-down submenu-toggler"
    [class]="{ hidden: this.isSidebarHorizontal }"
    ></i>
</div>

<ul
[@children]="submenuAnimation"
class="layout-menu"
[class]="{ 'menu-horizontal': this.isSidebarHorizontal }"
>
@for (item of item.items; track $index) {
  @if (item.items) {
    <li
      app-section 
      [item]="item"
      class="menu-section"
    ></li>
  } @else if(item.routerLink) {
    <li
      class="link-container"
      app-link 
      [item]="item"
    ></li>
    }
  }
</ul>