<div class="section-header" (click)="itemClick($event)">
  <div class="section-title">
    @if (item.icon) {
      <i [class]="'menuitem-icon ' + item.icon"></i>
    }
    <span class="title white-space-nowrap">{{ item.label }}</span>
  </div>
  @if (showAngleDown) {
    <i [class]="'submenu-toggler pi pi-fw pi-angle-down ' + submenuAnimation"></i>
  }
</div>

<ul
  [@children]="submenuAnimation"
  class="section-menu"
  [style]="{'border': submenuAnimation === 'collapsed'? 'none':''}"
>
@for (item of item.items; track $index) {
  @if (item.items) {
    <li
      menu-section
      [item]="item"
    ></li>
  } @else if(item.routerLink) {
    <li
      menu-link
      [item]="item"
    ></li>
    }
  }
</ul>