<div class="section-header" (click)="itemClick($event)">
  <div class="section-title">
    @if (item.icon) {
      <i [class]="'menuitem-icon ' + item.icon"></i>
    }
    <span>{{ item.label }}</span>
  </div>
</div>

<ul
  [@children]="submenuAnimation"
  class="section-menu"
  [style]="{'border': submenuAnimation === 'collapsed'? 'none':''}"
>
@for (item of item.items; track $index) {
  @if (item.items) {
    <li
      menu-section
      [item]="item"
      class="section-container"
    ></li>
  } @else if(item.routerLink) {
    <li
      class="link-container"
      app-link
      [item]="item"
    ></li>
    }
  }
</ul>