.layout-topbar {
  position: fixed;
  height: 4rem;
  z-index: 997;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
  background-color: var(--p-content-background);
  transition: left $transitionDuration;
}

/* pantallas mayores a 992px */
@media (min-width: 992px) {
  /* Sidebar VERTICAL -> activo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-active {
    .layout-topbar {
      left: 15rem;
    }
  }

  /* Sidebar VERTICAL -> inactivo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-inactive {
    .layout-topbar {
      left: 7rem;
    }
  }
  // sidebar horizontal
  .layout-wrapper.sidebar-horizontal {
    .layout-topbar {
      left: 0;
    }
  }
}

/* pantallas menores a 991px */
@media (max-width: 991px) {
  .layout-wrapper.sidebar-vertical {
    .layout-topbar {
      left: 7rem;
    }
  }
  // /* Sidebar VERTICAL -> activo*/
  // .layout-wrapper.sidebar-vertical.sidebar-vertical-active {
  //   .layout-topbar {
  //     left: 15rem;
  //   }
  // }

  // /* Sidebar VERTICAL -> inactivo*/
  // .layout-wrapper.sidebar-vertical.sidebar-vertical-inactive {
  //   .layout-topbar {
  //     left: 7rem;
  //   }
  // }
  // sidebar horizontal
  .layout-wrapper.sidebar-horizontal {
    .layout-topbar {
      left: 0;
    }
  }
}
