/* Sidebar HORIZONTAL */
.layout-wrapper.sidebar-horizontal {
  .layout-sidebar {
    width: calc(100% - 50rem);
    border-radius: 0;
    box-shadow: none;
    height: 4rem;
    right: 25rem;
    left: 25rem;
    transition: transform 0s, left 0s;
    .layout-menu-level-1, .layout-menu{
      li ul {
        margin-left: 1rem;
      }
    }
  }
}


.layout-wrapper.sidebar-horizontal {
  .layout-sidebar {

    .layout-menu-level-1{
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;

      .section-container-level-1{
        flex: 1;
        position: relative;

        .section-header-level-1{
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          cursor: pointer;
          border-radius: 6px;

          &:hover {
            background-color: var(--surface-hover);
          }

          .section-title{
            display: flex;
            gap: 0.25rem;
          }

        }
      }
    }

    .layout-menu-level-2{
      background-color: var(--surface-card);
      position: absolute;
      width: 200px;
      border: 1px solid var(--surface-border);

      .section-container{
        list-style-type: none;
        .section-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          outline: 0 none;
          color: var(--text-color);
          list-style-type: none;

          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          padding-right: 1rem;
          padding-left: 1rem;

          border-radius: var(--content-border-radius);
          transition: background-color var(--element-transition-duration),
            box-shadow var(--element-transition-duration);

          &:hover {
            background-color: var(--surface-hover);
          }
          .section-title{
            display: flex;
            gap: 0.25rem;

          }
          .section-toggler {
            font-size: 75%;
            margin-left: auto;
            transition: transform var(--element-transition-duration);
          }
        }
      }
      .link-container, .link-container-lavel-1{
        list-style-type: none;
       .link{
         display: flex;
         gap: 0.25rem;
         align-items: center;
         position: relative;
         outline: 0 none;
         color: var(--text-color);
         list-style-type: none;
         padding-top: 0.75rem;
         padding-bottom: 0.75rem;
         padding-right: 1rem;
         padding-left: 1rem;
         border-radius: var(--content-border-radius);
         box-shadow: var(--element-transition-duration);
         transition: background-color var(--element-transition-duration);
         &:hover {
           background-color: var(--surface-hover);
         }
       }
     }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper.sidebar-horizontal {
    .layout-sidebar {
      width: calc(100% - 20rem);
      right: 10rem;
      left: 10rem;
    }
  }
}
