/* Sidebar HORIZONTAL */
.layout-wrapper.sidebar-horizontal {
  .layout-sidebar {
    width: calc(100% - 40rem);
    border-radius: 0;
    box-shadow: none;
    height: 4rem;
    right: 25rem;
    left: 25rem;
    transition: transform 0s, left 0s;
  }
}


.layout-wrapper.sidebar-horizontal {
  .layout-sidebar {

    .sidebar-menu{
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;

      .sidebar-link{
        flex: 1;
        .menu-link{
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        align-items: center;
        outline: 0 none;
        color: var(--primary-contrast-color);
        list-style-type: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: var(--content-border-radius);
        box-shadow: var(--element-transition-duration);
        transition: background-color var(--element-transition-duration);
        &:hover {
          background-color: #f1f5f9;
        }
        }

      }

      .sidebar-section{
        flex: 1;
        position: relative;

        .section-header{
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          cursor: pointer;
          border-radius: 6px;
          color: var(--primary-contrast-color);

          
          &:hover {
            background-color: #f1f5f9;
          }
          
          .section-title{
            align-items: center;
            display: flex;
            gap: 0.25rem;
          }

        }

        .section-menu{
          background-color: white;
          position: absolute;
          width: 200px;
          overflow: hidden;
          left: 1rem;
          padding: 0;
          background-color: white;
          border: 1px solid #dee2e6;

          .menu-header{
            cursor: pointer;
            display: flex;
            gap: 0.25rem;
            justify-content: space-between;
            align-items: center;
            outline: 0 none;
            list-style-type: none;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-right: 1rem;
            padding-left: 1rem;
            transition: background-color var(--element-transition-duration);
            &:hover {
              background-color: #f1f5f9;
            }
            .section-title{
              display: flex;
              gap: 0.25rem;
            }
          }
          .menu-link{
            display: flex;
            gap: 0.25rem;
            align-items: center;
            outline: 0 none;
            list-style-type: none;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-right: 1rem;
            padding-left: 1rem;
            &:hover {
              background-color: #f1f5f9;
            }
          }
          .submenu{
            padding: 0;
            margin-left: 1rem;
            list-style: none;
            overflow: hidden;
          }
      }
    }
    }
  }
}


@media (max-width: 991px) {
  .layout-wrapper.sidebar-horizontal {
    .layout-sidebar {
      width: calc(100% - 20rem);
      right: 10rem;
      left: 10rem;

      .sidebar-menu{
        .sidebar-section{
          .section-header{
            .title{
              display: none;
            }
          }
        }
        .menu-link{
          .title{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .layout-wrapper.sidebar-horizontal {
    .layout-sidebar {
      width: calc(100% - 10rem);
      right: 10rem;
      left: 10rem;

    }
  }
}
