.sidebar-vertical {
  .layout-sidebar {
    overflow-y: auto;
    width: 20rem;
    transition: transform var(--transitionDuration);
    .layout-menu, .layout-menu-level-1, .layout-menu-level-2{
      li ul {
        margin-left: 1rem;
      }
    }
  }
}

/* pantallas mayores a 992px */
@media (min-width: 992px) {
  .sidebar-vertical {
    .layout-sidebar {
      height: calc(100vh - 8rem);
      top: 6rem;
    }
  }

  /* Sidebar VERTICAL -> activo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-active {
    .layout-sidebar {
      left: 2rem;
    }
  }

  /* Sidebar VERTICAL -> inactivo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-inactive {
    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
    }
  }
}

/* pantallas menores a 991px */
@media (max-width: 991px) {
  .layout-wrapper.sidebar-vertical {
    .layout-sidebar {
      height: 100vh;
      left: 0;
      top: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transform: translateX(-100%);
    }
  }

  /* Sidebar VERTICAL -> inactivo*/
  .layout-wrapper.sidebar-vertical.sidebar-mobile-inactive {
    .layout-sidebar {
      transform: translateX(-100%);
    }
  }

  /* Sidebar VERTICAL -> activo*/
  .layout-wrapper.sidebar-vertical.sidebar-mobile-active {
    .layout-sidebar {
      transform: translate(0);
    }
  }
}

.layout-wrapper.sidebar-vertical {
  .layout-sidebar {

    .link-container, .link-container-lavel-1{
       list-style-type: none;
      .link{
        display: flex;
        gap: 0.25rem;
        align-items: center;
        position: relative;
        outline: 0 none;
        color: var(--text-color);
        list-style-type: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: var(--content-border-radius);
        box-shadow: var(--element-transition-duration);
        transition: background-color var(--element-transition-duration);
        &:hover {
          background-color: var(--surface-hover);
        }
      }
    }

    .section-container, .section-container-level-1{
      list-style-type: none;
      .section-header, .section-header-level-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        outline: 0 none;
        color: var(--text-color);
        list-style-type: none;

        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1rem;
        padding-left: 1rem;

        border-radius: var(--content-border-radius);
        transition: background-color var(--element-transition-duration),
          box-shadow var(--element-transition-duration);

        &:hover {
          background-color: var(--surface-hover);
        }
        .section-title{
          display: flex;
          gap: 0.25rem;

        }
        .section-toggler {
          font-size: 75%;
          margin-left: auto;
          transition: transform var(--element-transition-duration);
        }
      }
    }
  }
}
