.sidebar-vertical {
  .layout-sidebar {
    overflow-y: auto;
    transition: transform var(--transitionDuration);
    height: calc(100vh);
    transition: width $transitionDuration;
    .container-toggle {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 1rem 0 0;
    }
  }
}

/* pantallas mayores a 992px */
@media (min-width: 992px) {
  /* Sidebar VERTICAL -> activo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-active {
    .layout-sidebar {
      width: 15rem;
    }
  }

  /* Sidebar VERTICAL -> inactivo*/
  .layout-wrapper.sidebar-vertical.sidebar-vertical-inactive {
    .layout-sidebar {
      width: 7rem;
      .sidebar-menu {
        .sidebar-section {
          .section-header {
            .title {
              display: none;
            }

            color: var(--primary-color);
          }
        }
        .menu-link {
          .title {
            display: none;
          }
        }
      }
    }
  }
}

/* pantallas menores a 991px */
@media (max-width: 991px) {
  .layout-wrapper {
    .layout-sidebar {
      width: 7rem;
      .sidebar-menu {
        .sidebar-section {
          .section-header {
            .title {
              display: none;
            }
          }
        }
        .menu-link {
          .title {
            display: none;
          }
        }
      }
    }
  }

  .layout-wrapper.sidebar-vertical.sidebar-mobile-inactive {
    .layout-sidebar {
      width: 7rem;
    }
  }
  .layout-wrapper.sidebar-vertical.sidebar-mobile-active {
    .layout-sidebar {
      width: 15rem;
      .sidebar-menu {
        .sidebar-section {
          .section-header {
            .title {
              display: block;
            }
          }
        }
        .menu-link {
          .title {
            display: block;
          }
        }
      }
    }
  }
}

.layout-wrapper.sidebar-vertical {
  .layout-sidebar {
    padding: 0;

    .sidebar-menu,
    .section-menu,
    .submenu {
      padding: 0;
      margin-left: 1rem;
      list-style: none;
      overflow: hidden;
      .menu-header,
      .section-header {
        display: flex;
        gap: 0.25rem;
        justify-content: space-between;
        align-items: center;
        outline: 0 none;
        color: var(--text-color);
        list-style-type: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: var(--content-border-radius);
        box-shadow: var(--element-transition-duration);
        transition: background-color var(--element-transition-duration);
        &:hover {
          background-color: var(--surface-hover);
        }
        .section-title {
          display: flex;
          gap: 0.25rem;
        }
        .submenu-toggler {
          transition: transform 0.5s ease-in-out;
          &.expanded {
            transform: rotate(180deg);
          }
        }
      }
      .menu-link {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        outline: 0 none;
        color: var(--text-color);
        list-style-type: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: var(--content-border-radius);
        box-shadow: var(--element-transition-duration);
        transition: background-color var(--element-transition-duration);
        &:hover {
          background-color: var(--surface-hover);
        }
      }
    }
  }
}
